body{
    width: 100%;
    height:100%;
    background-image: url(/assets/img/MESSIRUN.png);
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    padding: 15px;
    border-radius: 200px;
    width: 200px;
    height: 100px;
    background-color: transparent;
    color: white;
    border: 4px solid white;
    display: flex;
    margin-left: 1200px;
    margin-top: 150px;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    font-family: "Press Start 2P", cursive;
}
